#fisrtrow {
    margin-top: 100px;
  padding-top: 20px;
}
#secondrow {
    margin-top: 20px;
}
#thirdrow {
    margin-top: 20px;
    width: 200px;
}
#fourthrow {
    margin-top: 20px;
    width: 200px; 
}
#fifthrow {
    margin-top: 20px;
    width: 400px;
}
#sixthrow {
    margin-top: 20px;
    width: 400px;
}
#seventhrow {
    margin-top: 20px;
    width: 400px
}
#eigthrow {
    margin-top: 20px;
    width: 400px
}
#tenthrow {
    margin-top: 20px;
    width: 400px
}
#ninethrow {
    margin-top: 20px;
    width: 700px;
}
#firstfile {
    margin-top: 35px;
    width: 700px;
}
#leventhrow {
    margin-top:20px;
    width: 400px;
}
#secondfile {
    margin-top: 35px;
    width: 700px;
}
#thirteenrow {
    text-align: center;
    margin: top 20px; ;
}
#container{
    border:1px solid ;
    margin-bottom:20px ;
}






